.pic {
  width: 150px;
  height: 120px;
  display: inline-block;
  float: left;
}

.btn {
  width: 401px;
  height: 130px;
  margin: 7px;
  display: inline-block;
  border-radius: 10px;
  border: 3px solid #632f9b;
  background: #1a1717;
}

.btn:active {
  background: #3c1f5b;
}

.info {
  font-size: 25px;
  color: #632f9b;
}
