<button type="submit" class="btn">
  <img [src]="imageURL" [alt]="name" class="pic">
  <span class="info">
    <span><strong>{{ name }}</strong></span> <br>
    <br>
    <span>Price: {{ price }} KGS</span>
  </span>
</button>
