
<div class="order-program">
  <div class="order-block">
    <h2 class="title">Order Details:</h2>
    <app-order-details [order]="order"></app-order-details>

  </div>
  <div class="item-block">
    <h2 class="title">Add Items:</h2>
    <app-menu-list (madeOrder)="getOrder($event)"></app-menu-list>
  </div>
</div>
