.order-program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-block {
  border: 2px solid #5d1ba2;
  width: 26%;
  border-radius: 10px;
  font-size: 20px;
  color: #632f9b;
  padding: 10px;
}

.item-block {
  max-width: 830px;
  padding: 20px;
  border: 2px solid #632f9b;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #632f9b;
  font-size: 35px;
  margin: 0;
}
