<div>
  <p *ngIf="!getOrderStatus()">
    Order is empty! <br>
    Please add some items
  </p>
  <form *ngIf="getOrderStatus()" (submit)="deleteAllOrder()">
    <div *ngFor="let item of order" class="order-items">
      <form (submit)="deleteOrder($event)">{{ item.name }} x{{item.amount}} : {{ item["price"]}} <button type="submit" class="btn">X</button></form>
    </div>
    <p class="total-sum">Total Sum: {{ getSum() }}</p>
    <button type="submit" class="btn">Clear Order</button>
  </form>
</div>
